<!--Family Member Modal-->
<div class="modal fade" id="familyModal" tabindex="-1" role="dialog"
aria-labelledby="familyModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="familyModalLabel">Add Family Member</h5>
       <button type="button" class="close" 
       data-dismiss="modal" aria-label="Close"
       (click)="closeClick()">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
      <div class="form-group row">
          <label class="col-sm-2 col-form-label">Employee ID</label>
          <div class="col-sm-10">{{emp_id}}</div>
          <label class="col-sm-2 col-form-label">Family Member Name</label>
          <div class="col-sm-10">
              <input type="text" class="form-control"
              [(ngModel)]="familyMemberName"
              placeholder="Enter Family Member Name">
          </div>
          <label class="col-sm-2 col-form-label">Family Member Relation</label>
          <div class="col-sm-10">
              <input type="text" class="form-control"
              [(ngModel)]="familyMemberRelation"
              placeholder="Enter Family Member Relation">
          </div>
          </div>
          <button (click)="AddFamilyMember()" class="btn btn-primary">Add</button>
          
     </div>
    
   </div>
 </div>
</div>



<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Employee Photo</th>
                <th>Employee Full Name</th>
                <th>Employee Age</th>
                <th>Employee Family List</th>
                <th>Add Family Member</th>
            </tr>
        </thead>
            <tbody>
                <tr *ngFor="let dataItem of EmployeeFullList">
                    <td><img height="100px;" width="100px;" src={{dataItem.emp_photo_filename}}></td>  
                    <td>{{dataItem.emp_firstname}} {{dataItem.emp_lastname}}</td>
                    <td>{{dataItem.emp_age}}</td>
                    <td>
                        <li *ngFor="let fm of dataItem.familyList">
                                    <ul> 
                                       <b>Name:</b> {{fm.family_member_name}}, <b>Relation: </b>{{fm.family_member_relation}}
                                      <button type="button" class="btn btn-light mr-1"
                                        (click)="deleteFamilyMember(fm.family_member_id)">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                             <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                           </svg>
                                       </button>
                                    
                                    </ul>
                        </li>
                           
                      
                        
                    </td>
                    <td><button type="button" class="btn btn-light mr-1"
                        (click)="openFamilyModal(dataItem.emp_id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                      </button></td>
                      
                
                </tr>
            </tbody>
       
    </table>
    </div>
    


