<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Employee Photo</th>
                <th>Employee Full Name</th>
                <th>Employee Age</th>
                <th>Employee Family List</th>
            </tr>
        </thead>
            <tbody>
                <tr *ngFor="let dataItem of Employees">
                    <td>{{dataItem.emp_photo_filename}}</td>  
                    <td>{{dataItem.emp_firstname}} {{dataItem.emp_lastname}}</td>
                    <td>{{dataItem.emp_age}}</td>
                    <td>{{dataItem.emp_dept_id}}</td>
                     
                      
                
                </tr>
            </tbody>
       
    </table>
    </div>
    


